build/
target/
*.iml
*.ipr
.idea
.*.swp

# also ignore SWIG-generated classes and binaries
spirvcrossj-base/src/main/java/graphics/scenery/spirvcrossj/base/*.*
spirvcrossj-natives/src/main/resources/graphics/scenery/spirvcrossj/natives/*.*

# Preserve empty packages (*/base,*/natives) since they are needed for
# SWIG-generated classes and packages
!**/.SWIG_DIRECTORY_DONT_IGNORE
